@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cinzel Decorative', cursive;
  background-color: black;
  color: #ffffff;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
}

.header {
  text-align: center;
}

h1 {
  font-size: 5em;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.link-container a {
  padding: 0 10px;
  color: #ffffff;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.monster {
  margin: 10px 0;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid;
  border-radius: 3px;
}

.cross {
  text-align: right;
}

.content {
  display: flex;
}

.monster-img {
  width: 40%;
}

.monster-img img {
  object-fit: contain;
  width: 100%;
}

.monster-copy {
  margin: 0 15px;
}

.monster-copy div {
  margin: 10px 0;
}

.monster-copy li {
  margin-left: 40px;
}

.add-form {
  margin-bottom: 40px;
  border: 2px solid;
  padding: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input[type="name"] {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.checkbox-option {
  display: flex;
  margin: 5px 0;
}

.form-control-check label {
  flex: 1;
  margin-left: 15px;
}


select[name='type']{
  padding: 8px 5px;
}

footer {
  margin-top: 31px;
  text-align: center;
}